{% extends '::base.html.twig' %}

{% block body %}
    <h2>List of category product</h2>

    {% for productCategory in productCategories %}
        <a href="{{ path('front_category_product', {"productCategorySlug": productCategory.slug }) }}">{{ productCategory.name }}</a>
    {% endfor %}

{% endblock %}