@import ../foundation/scss/normalize
@import ../foundation/scss/foundation

.content
	padding: 15px 30px

.admin-panel
	form
		width: 600px

		ul.images
			margin-left: 0

			li
				display: block
				margin-left: 0
				background: #eee
				padding: 12px
				list-style-type: none

	table
		width: 98%